<section id="endpoints-section" class="doc-section">
    <h2 class="section-title">API Endpoints</h2>
    <% EndpointSections.forEach(model => { %>
        <div id="<%= model.id %>"  class="section-block">
            <h3 class="block-title model"><%= model.title %></h3>
            <% model.endpoints.forEach(endpoint => { %>
                <div class="endpoint">
                    <h4 id="<%= endpoint.id %>"><%= endpoint.name %></h4>
                    <div class="pointer">
                        <span class="method"><%= endpoint.method %></span> <span><%= endpoint.path %></span>
                    </div>
                    <% if (endpoint.where) { %>
                        <table>
                            <thead>
                                <tr>
                                    <td>
                                        name
                                    </td>
                                    <td>
                                        type
                                    </td>
                                    <td>
                                        description
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <% endpoint.where.forEach(attr => { %>
                                        <td>
                                            <%= attr.name %>
                                        </td>
                                        <td>
                                            <%= attr.type %>
                                        </td>
                                        <td>
                                            <%= attr.desc %>
                                        </td>
                                    <% }) %>
                                </tr>
                            </tbody>
                        </table>
                    <% } %>
                    <% if (endpoint.select) { %>
                        <table>
                            <thead>
                                <tr>
                                    <td>
                                        name
                                    </td>
                                    <td>
                                        type
                                    </td>
                                    <td>
                                        description
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <% endpoint.select.forEach(attr => { %>
                                        <td>
                                            <%= attr.name %>
                                        </td>
                                        <td>
                                            <%= attr.type %>
                                        </td>
                                        <td>
                                            <%= attr.desc %>
                                        </td>
                                    <% }) %>
                                </tr>
                            </tbody>
                        </table>
                    <% } %>
                    <% if (endpoint.orderBy) { %>
                        <table>
                            <thead>
                                <tr>
                                    <td>
                                        name
                                    </td>
                                    <td>
                                        type
                                    </td>
                                    <td>
                                        description
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <% endpoint.orderBy.forEach(attr => { %>
                                        <td>
                                            <%= attr.name %>
                                        </td>
                                        <td>
                                            <%= attr.type %>
                                        </td>
                                        <td>
                                            <%= attr.desc %>
                                        </td>
                                    <% }) %>
                                </tr>
                            </tbody>
                        </table>
                    <% } %>
                    <% if (endpoint.formData) { %>
                        <table>
                            <thead>
                                <tr>
                                    <td>
                                        name
                                    </td>
                                    <td>
                                        type
                                    </td>
                                    <td>
                                        description
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <% endpoint.formData.forEach(attr => { %>
                                        <td>
                                            <%= attr.name %>
                                        </td>
                                        <td>
                                            <%= attr.type %>
                                        </td>
                                        <td>
                                            <%= attr.desc %>
                                        </td>
                                    <% }) %>
                                </tr>
                            </tbody>
                        </table>
                    <% } %>
                </div>
            <% }) %>
        </div>
    <% }) %>
</section>
