<section id="endpoints-section" class="doc-section">
    <h2 class="section-title">API Endpoints</h2>
    <% sections.forEach(section => { %>
        <div id="<%= section.id %>"  class="section-block">
            <h3 class="block-title section"><%= section.title %></h3>
            <% if (section.note) { %>
              <div class="callout-block callout-warn">
                  <p>
                      <strong>NOTE:</strong> <%- section.note %>
                  </p>
              </div>
            <% } %>
            <% section.endpoints.forEach(endpoint => { %>
                <div class="endpoint">
                    <h4 id="<%= endpoint.id %>"><%= endpoint.name %></h4>
                    <div class="pointer">
                        <span class="method"><%= endpoint.method %></span> <span><%= endpoint.path %></span>
                    </div>
                    <% if (endpoint.attrs) { %>
                      <div class='attrs-section'>
                        <table class='table table-bordered table-condensed table-responsive'>
                          <thead>
                            <tr>
                              <th>name</th><th>type</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% endpoint.attrs.forEach(function(attr) { %>
                              <tr class='<%- attr.is_indexed ? "indexed" : "" %>'>
                                <td class='name'>
                                  <span>
                                    <%= attr.name %>
                                  </span>
                                </td>
                                <td class='type'>
                                  <span>
                                    <%= attr.type %>
                                  </span>
                                </td>
                              </tr>
                              <% }) %>
                            </tbody>
                          </table>
                      </div>
                    <% } %>
                </div>
            <% }) %>
        </div>
    <% }) %>
</section>
