<section id="endpoints-section" class="doc-section">
    <h2 class="section-title">API Endpoints</h2>
    <% sections.forEach(model => { %>
        <div id="<%= model.id %>"  class="section-block">
            <h3 class="block-title model"><%= model.title %></h3>
            <% model.endpoints.forEach(endpoint => { %>
                <div class="endpoint">
                    <h4 id="<%= endpoint.id %>"><%= endpoint.name %></h4>
                    <div class="pointer">
                        <span class="method"><%= endpoint.method %></span> <span><%= endpoint.path %></span>
                    </div>
                    <% if (endpoint.paramsTables) { %>
                        <div class="params-tables-section">
                            <h5>Parameters</h5>
                            <%- endpoint.paramsTables %>
                        </div>
                    <% } %>
                </div>
            <% }) %>
        </div>
    <% }) %>
</section>
