<div class="doc-sidebar hidden-xs">
    <nav id="doc-nav">
        <ul id="doc-menu" class="nav doc-menu" data-spy="affix">
            <li>
                <a class="scrollto" href="#getting-started-section">Getting Started</a>
                <ul class="nav doc-sub-menu">
                    <% articles.forEach(article => { %>
                        <li><a class="scrollto" href="#<%= article.id%>"><%= article.title %></a></li>
                    <% }) %>
                </ul>
            </li>
            <li>
                <a class="scrollto" href="#api-endpoints-section">API Endpoints</a>
                <ul class="nav doc-sub-menu">
                    <% endpointSections.forEach(modelSection => { %>
                        <li>
                            <a class="scrollto" href="#<%= modelSection.id %>">
                                <strong>
                                    <%= modelSection.title %>
                                </strong>
                            </a>
                        </li>
                        <% modelSection.endpoints.forEach(endpoint => { %>
                            <li><a class="scrollto" href="#<%= endpoint.id %>"><%= endpoint.name %></a></li>
                        <% }) %>
                    <% }) %>
                </ul>
            </li>
        </ul>
    </nav>
</div>
